<div class= "meta-container">
		<div class= "left-container">
            <img src="images/identity.png" class= "identity" alt="...">  
            <div class= "credentials">

              <form>
                <input type="text"  class= "form-entry" placeholder= "username" ng-model="username" required />
                <input type="password"  class= "form-entry" placeholder= "password" ng-model="password" required />
                <button type="submit" class= "button-login" ng-click="go()"> Log-in </button>
              </form>

            </div>    
		</div> <!-- "left-container" -->

    <div class= "right-container">

			
		</div> <!-- "right-container" -->
	</div> <!-- "meta-container" -->